<section class="section-container -bg-grey -flush -full-padded -animation-trigger grid-x align-middle">

	<div class="half-block -flush Ta(end) medium-order-2 small-order-1">
		<img class="clip-path-up shrink" alt="{{ thumbnail.alt }}" title="{{ thumbnail.title }}" src="{{ thumbnail.url }}"/>
	</div>

	<div class="half-block content -left medium-order-1 small-order-2 Mt(3rem)--sm Pend(8vw)">
		<h3 class="header-four Mb(1rem) fade-down">Featured Blog Post</h3>
		<h2 class="header-two -underline -after-navy grow-after Mb(3rem)">{{ title }}</h2>
		<div class="Mt(2rem) Mb(3rem)">
			{{ excerpt }}
		</div>
		<a href="{{ url }}" class="link -dark-grey D(ib)">Read More</a>
	</div>

</section>
