<div class="grid-x align-middle align-center">
	<div class="small-12 medium-6 cell small-order-2 medium-order-1">
		<h2 class="-garamond Mb(2rem) fade-up">{{ copy }}</h2>
	</div>
	<div class="small-7 medium-4 medium-offset-2 cell fade-up small-order-1 medium-order-2 Mb(2rem)--sm">
		<img alt="{{ image.alt }}" title="{{ image.title }}" class="W(100%)" src="{{ image.url }}"/>
		<p class="Ta(end) Mt(1rem) Mb(0rem)!--md Mb(1rem)!">-
			{{ headline }}</p>
	</div>
</div>
