<section class="-animation-trigger grid-x align-middle Pos(r) Pb(12rem)! Pt(10rem)!">
	<img alt="Red Triangle" title="Red Triangle" class="Pos(a) T(2rem) Start(10vw) W(75px) pin1" src="{{ siteUrl }}assets/images/red-triangle.svg"/>
	<img alt="Orange Circle" title="Orange Circle" class="Pos(a) B(2rem) End(10vw) W(45px) pin3" src="{{ siteUrl }}assets/images/orange-circle.svg"/>

	<div class="full-block content -left -narrow">
		<h3 class="header-four -center fade-down Mb(2rem) transition-delay-2">{{ block.headline }}</h3>
		<h2 class="header-one -center -animation-trigger fade-up Mb(2rem) Lh(1.2em)">{{ block.subheadline|nl2br }}</h2>
		<div class="text-center fade-up transition-delay-2">
			{{ block.copy }}
		</div>
	</div>
</section>
