{% set image = block.image.eagerly().one() ?? globalSettings.fallbackBannerImage.eagerly().one() %}
{% set headline = block.headline ?? 'Ready to get started?' %}
{% set buttonUrl = block.linkButton.url ?? '/join-our-community' %}
{% set buttonText = block.linkButton.label ?? 'Join Our Community' %}
{% set target = block.linkButton.target ?? '_self' %}
{% set calendly = block.includeCalendly ?? false %}

<section class="page-banner -animation-trigger -centered-both Px(10vw)--md Px(8vw)" style="background-image: url('{{ image.url }}');">
	<div class="overlay"></div>
	<div class="content small-12 cell text-center">
		<h2 class="header-one fade-up -color-white Mb(3rem)">{{ headline }}</h2>
		<div class="fade-down transition-delay-3">
			<a class="button -red Mb(1rem)" href="{{ buttonUrl }}" target="{{ target }}">{{ buttonText }}</a>
			{% if calendly %}
				{% include '_components/global/calendly.twig' %}
			{% endif %}
		</div>
	</div>
</section>
