{% set headline = block.headline ?? 'Contact Us' %}
{% set buttonText = block.linkButton.label ?? 'Sign up for a Webinar' %}
{% set buttonLink = block.linkButton.url ?? '/join-our-community' %}
{% set buttonTarget = block.linkButton.target ?? '_self' %}
{% set splitFade = block.splitFade ?? false %}
{% set calendly = block.includeCalendly ?? false %}

{% if block.ctaBackground == 'tan' %}

	<section class="section-container -narrow -no-narrow-small -animation-trigger grid-x align-middle Pb(0rem)! Pt(6rem)!">

		<div class="small-12 cell -bg-grey text-center Pos(r) P(6rem)">
			<img alt="Red Triangle" title="Red Triangle" class="Pos(a) T(3rem) Start(3rem) W(75px) pin1" src="{{ siteUrl }}assets/images/red-triangle.svg"/>
			<img alt="Orange Circle" title="Orange Circle" class="Pos(a) B(3rem) End(3rem) W(45px) pin3" src="{{ siteUrl }}assets/images/orange-circle.svg"/>
			<h2 class="header-one -center Mb(3rem) {{ splitFade ? 'split-fade-container -animation-trigger' : 'fade-up'}} ">{{ headline }}</h2>
			<div class="fade-up transition-delay-2">
				<a href="{{ buttonLink }}" target="{{ buttonTarget }}" class="button -outline fade-up transition-delay-3">{{ buttonText }}</a>
			</div>
		</div>
	</section>

{% elseif block.ctaBackground == 'white' %}

	<section class="-animation-trigger grid-x align-middle Pos(r)  Py(5rem)">

		<img class="Pos(a) T(2rem) End(5vw) End(10vw)--md W(75px) pin1" alt="Blue triangle" title="Blue triangle" src="{{ siteUrl }}assets/images/blue-triangle.svg"/>
		<img class="Pos(a) B(4rem) Start(5vw) Start(10vw)--md W(45px) pin2" alt="Orange circle" title="Orange circle" src="{{ siteUrl }}assets/images/orange-circle.svg"/>

		<div class="full-block content -left -narrow text-center">
			<h2 class="header-one  Mb(3rem) {{ splitFade ? 'split-fade-container -animation-trigger' : 'fade-up'}}">{{ headline }}</h2>

			<a class="button -red Mb(1rem)" href="{{ buttonLink }}" target="{{ buttonTarget }}">{{ buttonText }}</a>
			{% if calendly %}
				<p class="paragraph -color-dark-grey D(b) text-center">Still have questions?
					<a class="paragraph -color-dark-grey -dec-underline D(ib)" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/weareone/30min'});return false;">Call
																                    Us</a>
				</p>
			{% endif %}
		</div>

	</section>

{% endif %}
